body {
    background: #eee;
}

.app{
    position: relative;
}

.mui-toolbar{
    height: auto;
    line-height: normal;
}

.mui-icon-highlight{
    display: none;
}

.mui-icon{
	font-size: 50px;
}

.mui-paper-button{
	left: 0 !important;
	margin-right: 10px;
}