body {
    background: #eee;
}

.pane{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.container__chunk{
    position: absolute;
    transition: all 0.1s ease;
    box-sizing: border-box;
}

.container__chunk_crawable{
    cursor: pointer;
}

.container__chunk_border-right{
    border-right: 1px solid #fff;
}

.container__chunk_border-bottom{
    border-bottom: 1px solid #fff;
}