.menu{
    width:250px;
    height:100vh;
    background: #fff;
    position: absolute;
    right: 0;
    top:0;
    -webkit-transition: transform 0.1s ease;
    -moz-transition: transform 0.1s ease;
    -ms-transition: transform 0.1s ease;
    -o-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    display: block;
}

.menu_active{

}

.menu__li{
    list-style: none;
}

.menu__link
.menu__link:hover,
.menu__link:focus,
.menu__link:active
{
    color : #000;
    text-decoration: none;
}